.div {
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff55, #abbaab76),
    url("chirimia5.jpg"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff72, #abbaab74),
    url("chirimia5.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
  background-size: 500%;
  /* animation: fanimado 15s infinite; */
  /* clip-path: polygon(1% 0, 99% 1%, 99% 99%, 2% 99%); */
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
