section {
  text-align: justify;
  margin-top: 4rem;
  padding: 0 16rem 0 16rem;
}
h1 {
  text-align: center;
}
p {
    margin-bottom: 4rem;
    padding:0 8rem 0 8rem;
}
@media screen and (max-width: 1500px) {
  section{
    padding: 0 8rem 0 8rem;
  }
}
@media screen and (max-width: 1200px) {
  section{
    padding: 0 6rem 0 6rem;
  }
}
@media screen and (max-width: 1025px) {
  section{
    padding: 0 4rem 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  section{
    margin-top: 2rem;
    padding: 0 1rem 0 1rem;
  }
  p {
    margin: 0.5rem 0 0.5rem 0;
    padding:0 1rem 0 1rem;
  }
}