.Navbar {
    height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    z-index: 100;
}

.Navbar > .nav-logo {
    margin: 15px;
    height: 65px;
    width: 65px;
    padding-top: 5px;
}

.Navbar > .nav-items {
    margin-top: 15px;
}

.Navbar > .nav-items > .nav-link {
    font-size: 16px;
    text-decoration: none;
    margin: 20px;
    position: relative;
    opacity: 0.9;
    text-align: center;
    text-transform: uppercase;
}

.Navbar > .nav-items > .nav-link:hover {
    opacity: 1;
    color: black;
}

.Navbar > .nav-items > .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: all .45s;

}

.Navbar > .nav-items > .nav-link:hover::before  {
    width: 100%;
}

.Navbar > .nav-toggle {
    display: none;
}

@media (max-width: 1000px) {

    .Navbar > .nav-items {
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        background: white;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: all .45s;
    }

    .Navbar > .nav-items > .nav-link::before {
        background: transparent;
    }

    .Navbar > .nav-items.open {
        transform: translateX(0);
    }

    .Navbar > .nav-toggle {
        display: flex;
        width: 50px;;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .nav-toggle > .bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: black;
        transition: all .45s ease-in-out;

    }
    .nav-toggle > .bar::before, .nav-toggle > .bar::after {
        content: "";
        position: absolute;
        height: 2px;
        background: black;
        border-radius: 2px;
        transition: all .45s ease-in-out;
    }

    .nav-toggle > .bar::before {
        width: 25px;
        transform: translateY(-8px);
        right: 0;
    }

    .nav-toggle > .bar::after {
        width: 32px;
        transform: translateY(8px);
    }
    .nav-toggle.open > .bar {
        transform: translateX(-40px);
        background: transparent;
    }
    .nav-toggle.open > .bar::before {
        transform: rotate(-45deg) translate(26px, -26px);

    }
}